
				<footer id="footer">
					<div class="container my-4">
						<div class="d-flex justify-content-center align-content-center">
							<img src="img/logo-white.png" style="width: 10rem;" alt="">
						</div>
						<div class="row py-3">
							<div class="col-md-5 col-lg-3 mb-5 mb-lg-0">
								<h5 class="text-6 text-transform-none font-weight-semibold text-color-light mb-4">Contact Details</h5>
								<p class="text-4 mb-1">King Abdullah Road, Al Hamra, Riyadh 13217 Saudi Arabia
								</p>
								<p class="text-4 mb-4 pb-1">Porto Blvd, Suite</p>
	
								<p class="text-5 mb-1 pt-2">Call: <a href="tel:+966 9200 35 122" class="text-decoration-none">+966 9200 35 122</a></p>
								<p class="text-5 mb-0">Email: <a href="Hello@silkysys.com">Hello@silkysys.com</a></p>
							</div>
							<div class="col-md-7 col-lg-5 mb-5 mb-lg-0">
								<h5 class="text-6 text-transform-none font-weight-semibold text-color-light mb-4">Pages</h5>
								<div class="row">
									<div class="col-6">
										<p class="mb-1"><a href="elements-call-to-action.html" class="text-4 link-hover-style-1">Call to Action</a></p>
										<p class="mb-1"><a href="elements-pricing-tables.html" class="text-4 link-hover-style-1">Pricing Tables</a></p>
										<p class="mb-1"><a href="elements-word-rotator.html" class="text-4 link-hover-style-1">Word Rotator</a></p>
										<p class="mb-1"><a href="elements-tooltips-popovers.html" class="text-4 link-hover-style-1">Tooltips &amp; Popovers</a></p>
										<p class="mb-1"><a href="elements-sticky-elements.html" class="text-4 link-hover-style-1">Sticky Elements</a></p>
									</div>
									<div class="col-6">
										<p class="mb-1"><a href="elements-progressbars.html" class="text-4 link-hover-style-1">Progress Bars</a></p>
										<p class="mb-1"><a href="elements-sections.html" class="text-4 link-hover-style-1">Sections</a></p>
										<p class="mb-1"><a href="elements-lists.html" class="text-4 link-hover-style-1">Lists</a></p>
										<p class="mb-1"><a href="elements-image-frames.html" class="text-4 link-hover-style-1">Image Frames</a></p>
										<p class="mb-1"><a href="elements-testimonials.html" class="text-4 link-hover-style-1">Testimonials</a></p>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<h5 class="text-6 text-transform-none font-weight-semibold text-color-light mb-4">Newsletter</h5>
								<p class="text-4 mb-1">Get all the latest informationon Sales and Offers.</p>
								<p class="text-4">Sign up for newsletter today.</p>
								<div class="alert alert-success d-none" id="newsletterSuccess">
									<strong>Success!</strong> You've been added to our email list.
								</div>
								<div class="alert alert-danger d-none" id="newsletterError"></div>
							</div>
						</div>
					</div>
					<div class="footer-copyright footer-copyright-style-2">
						<div class="container py-2">
							<div class="row py-4">
								<div class="col d-flex align-items-center justify-content-center mb-4 mb-lg-0">
									<p>© Copyright 2023. All Rights Reserved.</p>
								</div>
							</div>
						</div>
					</div>
				</footer>
				
			</div>
		</div>
