---
title: Elias Suits | Home
layout: 'base.njk'
---

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta property="fb:page_id" content="112246258125225" />
    <link rel="shortcut icon" type="image/ico" href="/assets/img/favicon.ico">
    <link rel=icon href="/assets/img/favicon-32x32.png" type="image/png">
    <meta
      name="description"
      content="Elias is a pioneer in men's fashion design. Shop now the best suits in the Egyptian market from Elias - make your occasion different"
    />
    <meta
      name="keywords"
      content = "Elias Suits, Elias Fashion, Elias Fashion Design, fashion design, fashion, men's suits, suits designs, classic men's clothing in Egypt, wedding suits, Turkish suits"
    />
    <meta name="theme-color" content="#000000d1" />
    <meta name="secound-theme-color" content="#b1bfdb" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="apple-mobile-web-app-title" content="Elias Suits | Home" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="/assets/img/logo.jpg" />
    <link rel="apple-touch-icon-precomposed" href="/assets/img/logo.jpg" />
    <meta name="application-name" content="Elias Suits | Home" />
    <meta name="title" content="Elias Suits | Home" />
    <meta
      name="robots"
      content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"
    />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Elias Suits | Home" />
    <meta property="og:title" content="Elias Suits | Home" />
    <meta property="og:description" content="Elias Suits | Home" />
    <meta property="og:url" content="https://elias-designer.com/" />
    <meta property="og:image" content="https://i.ibb.co/NrZX8bT/logo.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@ELIAS" />
    <meta name="twitter:creator" content="@ELIAS" />
    <meta name="twitter:title" content="@ELIAS" />
    <meta name="twitter:description" content="Suits Elias home page" />
    <meta name="twitter:image:src" content="/assets/img/logo.jpg" />
    <meta name="note" content="Elias Suits" />
    <meta name="subject" content="Suits Elias home page" />
    <meta name="identifier-URL" content="https://elias-designer.com/" />
    <meta name="linkage" content="https://elias-designer.com/" />
    <meta name="distribution" content="global" />
    <meta name="classification" content="All" />
    <meta name="author" content="Elias" />
    <meta name="owner" content="https://elias-designer.com/" />
    <meta name="copyright" content="https://elias-designer.com/" />
    <meta name="web_author" content="Ahmed Waled" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="operator" content="Elias" />
    <meta name="contactOrganization" content="https://elias-designer.com/" />
    <meta name="contactStreetAddress1" content="Gisr El Suez - Arab Station" />
    <meta name="contactStreetAddress1" content="Abbas Al-Akkad" />
    <meta name="contactCity" content="cairo" />
    <meta name="contactCountry" content="Egypt" />
    <meta name="contactPhoneNumber" content="+201144418143" />
    <meta name="contactNetworkAddress" content="https://elias-designer.com/" />
    <meta name="robots" content="index, follow" />
    <meta name="msapplication-starturl" content="https://elias-designer.com/" />
    <meta name="msapplication-tooltip" content="Elias Suits Website" />
    <meta name="DC.Creator" content="Developed By Ahmed Waled" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="HandheldFriendly" content="True" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/glightbox.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.min.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RLD92GFJKH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-RLD92GFJKH');
    </script>
</head>

    <!-- Start header area -->
    <header class="header__section color-scheme-2">
        <div class="main__header header__sticky">
            <div class="container-fluid">
                <div class="main__header--inner position__relative d-flex justify-content-between align-items-center">
                    
                    <div class="main__logo">
                        <h1 class="main__logo--title"><a class="main__logo--link" href="/">
                            <img style="width: 12rem;" src="/assets/img/logo.jpg" alt = "Logo for Elias' website"></a>
                        </h1>
                    </div>
                    <div class="header__menu d-none d-lg-block">
                        <nav class="header__menu--navigation">
                            <ul class="d-flex">
                                <li class="header__menu--items">
                                    <a class="header__menu--link" href="/">Home 
                                    </a>
                                </li>
                                <li class="header__menu--items">
                                    <a class="header__menu--link" href="/about">About Elias</a>
                                </li>
                                <li class="header__menu--items">
                                    <a class="header__menu--link" href="/elias-and-the-stars">Elias With Stars 
                                    </a>
                                </li>
                                <li class="header__menu--items d-none d-xl-block">
                                    <a class="header__menu--link" href="/portfolio"> Gallery </a>
                                </li>
                                <li class="header__menu--items">
                                    <a class="header__menu--link" href="/product">Products 
                                        <svg class="menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12" height="7.41" viewBox="0 0 12 7.41">
                                            <path  d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z" transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"/>
                                        </svg>
                                    </a>
                                    <ul class="header__sub--menu">
                                        <li class="header__sub--menu__items"><a href="/suit" class="header__sub--menu__link">suit</a></li>
                                        <li class="header__sub--menu__items"><a href="/trousers" class="header__sub--menu__link">trousers</a></li>
                                        <li class="header__sub--menu__items"><a href="/shirt" class="header__sub--menu__link">shirt</a></li>
                                        <li class="header__sub--menu__items"><a href="/blazer" class="header__sub--menu__link">blazer</a></li>
                                        <li class="header__sub--menu__items"><a href="/bebeon" class="header__sub--menu__link">bebeon</a></li>
                                        <li class="header__sub--menu__items"><a href="/shoes" class="header__sub--menu__link">shoes</a></li>
                                        <li class="header__sub--menu__items"><a href="/belt" class="header__sub--menu__link">belt</a></li>
                                        <li class="header__sub--menu__items"><a href="/watch" class="header__sub--menu__link">watch</a></li>
                                    </ul>
                                </li>
                                <li class="header__menu--items d-none d-xl-block">
                                    <a class="header__menu--link" href="/blogs"> Articles </a>
                                </li>
                                <li class="header__menu--items mr-3 d-none d-xl-block">
                                    <a class="header__menu--link" href="/contact"> Contact Us  
                                    <svg class="menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12" height="7.41" viewBox="0 0 12 7.41">
                                        <path  d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z" transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"/>
                                    </svg>
                                    </a>
                                    <ul class="header__sub--menu">
                                        <li class="header__sub--menu__items">
                                            <a href="/branches" class="header__sub--menu__link">branches</a>
                                            <a href="/team" class="header__sub--menu__link">Team</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="header__menu--items mr-3 d-none d-xl-block">
                                    <a class="header__menu--link" href="#"> <img src="/assets/img/english.webp" alt="Elias Suits - English Icon"> English 
                                    <svg class="menu__arrowdown--icon" xmlns="http://www.w3.org/2000/svg" width="12" height="7.41" viewBox="0 0 12 7.41">
                                        <path  d="M16.59,8.59,12,13.17,7.41,8.59,6,10l6,6,6-6Z" transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"/>
                                    </svg>
                                    </a>
                                    <ul class="header__sub--menu">
                                        <li class="header__sub--menu__items">
                                            <a href="https://elias-designer.com" class="header__sub--menu__link"> <img src="/assets/img/arabic.webp" alt="Elias Suits - Arabic Icon"> العربية </a>
                                            <a href="/" class="header__sub--menu__link"> <img src="/assets/img/english.webp" alt="Elias Suits - English Icon"> English</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="offcanvas__header--menu__open ">
                        <a class="offcanvas__header--menu__open--btn" href="javascript:void(0)" data-offcanvas>
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon offcanvas__header--menu__open--svg" viewBox="0 0 512 512"><path fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 160h352M80 256h352M80 352h352"/></svg>
                            <span class="visually-hidden">Menu Open</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start Offcanvas header menu -->
        <div class="offcanvas__header color-scheme-2">
            <div class="offcanvas__inner">
                <div class="offcanvas__logo">
                    <a class="offcanvas__logo_link" href="/">
                        <img src="/assets/img/logo.jpg" alt = "Logo for Elias' website" width="158" height="36">
                    </a>
                    <button class="offcanvas__close--btn" data-offcanvas>close</button>
                </div>
                <nav class="offcanvas__menu">
                    <ul class="offcanvas__menu_ul">
                        <li class="offcanvas__menu_li"><a class="offcanvas__menu_item" href="/">Home</a></li>
                        <li class="offcanvas__menu_li"><a class="offcanvas__menu_item" href="/about">About Elias</a></li>
                        <li class="offcanvas__menu_li"><a class="offcanvas__menu_item" href="/elias-and-the-stars">Elias With Stars</a></li>
                        <li class="offcanvas__menu_li"><a class="offcanvas__menu_item" href="/portfolio">Gallery</a></li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/product">Product</a>
                            <ul class="offcanvas__sub_menu">
                                <li class="offcanvas__sub_menu_li"><a href="/suit" class="offcanvas__sub_menu_item">suit</a></li>
                                <li class="offcanvas__sub_menu_li"><a href="/trousers" class="offcanvas__sub_menu_item">trousers</a></li>
                                <li class="offcanvas__sub_menu_li"><a href="/shirt" class="offcanvas__sub_menu_item">shirt</a></li>
                                <li class="offcanvas__sub_menu_li"><a href="/blazer" class="offcanvas__sub_menu_item">blazer</a></li>
                                <li class="offcanvas__sub_menu_li"><a href="/bebeon" class="offcanvas__sub_menu_item">bebeon</a></li>
                                <li class="offcanvas__sub_menu_li"><a href="/shoes" class="offcanvas__sub_menu_item">shoes</a></li>
                                <li class="offcanvas__sub_menu_li"><a href="/belt" class="offcanvas__sub_menu_item">belt</a></li>
                                <li class="offcanvas__sub_menu_li"><a href="/watch" class="offcanvas__sub_menu_item">watch</a></li>
                            </ul>
                        </li>
                        <li class="offcanvas__menu_li"><a class="offcanvas__menu_item" href="/blogs">Articles</a></li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/contact">Contact Us</a>
                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/branches">branches </a>
                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item" href="/team"> team </a>
                        </li>
                        <li class="offcanvas__menu_li">
                            <a class="offcanvas__menu_item text-center" href="https://elias-designer.com"><img src="/assets/img/arabic.webp" alt="Elias Suits - Arabic Icon"> العربية </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- End Offcanvas header menu -->
    </header>
    <!-- End header area -->

<main class="main__content_wrapper">
    <!-- Start banner section -->

<!-- Start slider section -->
<section class="banner banner-dis mb-5">
                <div class="row">
                    <div class="col-12">
                        <a href="/offer-1100"><img src="/assets/img/mobile.webp" alt="Offer 1100 on all Elias allowances, Gesr El Suez Branch - Valid until February 30"></a>
                    </div>
                </div>
</section>
        <section class="hero__slider--section color-scheme-2">
            <div class="hero__slider--inner hero__slider--activation swiper">
                <div class="hero__slider--wrapper swiper-wrapper">
                    <div class="swiper-slide ">
                        <div class="hero__slider--items">
                            <a href="/offer-1100"><img src="/assets/img/sale.webp" alt="Offer 1100 on all Elias allowances, Gesr El Suez Branch - Valid until February 30"></a>
                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div class="hero__slider--items">
                            <img src="/assets/img/b2.webp" alt="With Elias Suits, make your wedding different">
                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div class="hero__slider--items">
                            <img src="/assets/img/b1.webp" alt="The artist Mohamed Ezz is shining with Elias' suit - design your outfits now at Elias">
                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div class="hero__slider--items">
                            <img src="/assets/img/b3.webp" alt="With Elias Suits, invest in your elegance and elegance on any occasion">
                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div class="hero__slider--items">
                            <img src="/assets/img/b4.webp" alt="Strive to be elegant and radiant with Elias suits">
                        </div>
                    </div>
                </div>
                <div class="swiper__nav--btn swiper-button-next"></div>
                <div class="swiper__nav--btn swiper-button-prev"></div>
            </div>
        </section>
        <!-- End banner section -->

        <!-- Start shop cards section -->
        <section class="shop__card--section section--padding color-scheme-2">
            <div class="container-fluid">
                <div class="shop__card--section__inner">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-6 col-md-4 col-sm-6">
                            <div class="shop__card--banner position__relative d-flex">
                                <div class="shop__card--banner__thumbnail one">
                                    <a class="display-block" href="/trousers">
                                        <img class="shop__card--banner__thumbnail--img display-block" src="/assets/img/pro2.webp" alt="Shop now with gooch starting from 1600 EGP - instead of Elias"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-sm-6">
                            <div class="shop__card--banner position__relative d-flex">
                                <div class="shop__card--banner__thumbnail one">
                                    <a class="display-block" href="/suit">
                                        <img class="shop__card--banner__thumbnail--img display-block" src="/assets/img/pro3.webp" alt="Shop now for Elias' pants starting from 500 EGP - instead of Elias" ></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 col-sm-6">
                            <div class="shop__card--banner position__relative d-flex">
                                <div class="shop__card--banner__thumbnail one">
                                    <a class="display-block" href="/blazer">
                                        <img class="shop__card--banner__thumbnail--img display-block" src="/assets/img/pro1.webp" alt="Shop now with a Turkish allowance starting from 1900 pounds - instead of Elias" ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End shop cards section -->

        <!-- Start banner section -->
        <section class="banner__section banner__style2 color-scheme-2">
            <div class="section__heading text-center mb-35">
                <h2> Elias Products </h2>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 col-lg-3 mt-3 col-md-6">
                        <a href="/shoes"><img src="/assets/img/g2.webp" alt="Shop all Brand Elias shoes for exchange"></a>
                    </div>
                    <div class="col-6 col-lg-3 mt-3 col-md-6">
                        <a href="/shirt"><img src="/assets/img/g3.webp" alt="Shop all Brand Elias shirts for exchange"></a>
                    </div>
                    <div class="col-6 col-lg-3 mt-3 col-md-6">
                        <a href="/high-neck"><img src="/assets/img/g5.webp" alt="Shop all High Cool Brand Elias for exchange"></a>
                    </div>
                    <div class="col-6 col-lg-3 mt-3 col-md-6">
                        <a href="/tie"><img src="/assets/img/g6.webp" alt="Shop all Brand Elias neckties for suits"></a>
                    </div>
                    <div class="col-12 text-center mt-elias">
                        <a href="/product"><button class="elias-btn  btn-light">All Products</button></a>
                    </div>
                </div>
            </div>
        </section><br>
        <!-- End banner section -->

        <!-- Start product section -->
        <section class="product__section section--padding color-scheme-2 pt-0">
            <div class="container-fluid">
                <div class="section__heading text-center mb-35">
                    <h2 class="section__heading--maintitle style2">Some Of Our Products</h2>
                </div>
                <div class="product__section--inner">
                    <div class="row row-cols-xl-4 row-cols-lg-4 row-cols-md-3 row-cols-2 mb--n30">
                        {%- for product in collections.featuredProduct | reverse -%}
                        <div class="col mb-30">
                            <div class="product__items">
                                <div class="product__items--thumbnail">
                                    <a class="product__items--link" href="{{ product.url }}">
                                        <img class="product__items--img product__primary--img" src="{{product.data.imageBlack}}" alt="{{product.data.imageAlt}}">
                                        <img class="product__items--img product__secondary--img" src="{{product.data.imageBlue}}" alt="{{product.data.imageAlt}}">
                                    </a>
                                </div>
                                <div class="product__items--content text-center">
                                    <h3 class="product__items--content__title h4"><a href="{{ product.url }}">{{product.data.title}}</a></h3>
                                    <div class="product__items--price">
                                        <span class="current__price">{{product.data.price}} LE</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%- endfor -%}
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- End product section -->


        <section class="testimonial__section bg__gray--color">
            <div class="container-fluid">
                <div class="section__heading text-center mb-40">
                    <h2 class="section__heading--maintitle"> customer reviews </h2>
                </div>
                <div class="testimonial__section--inner testimonial__swiper--activation swiper swiper-initialized swiper-horizontal swiper-pointer-events">
                    <div class="swiper-wrapper" id="swiper-wrapper-ac8ea668410fb1450" aria-live="polite" style="transition-duration: 0ms; transform: translate3d(-1921.33px, 0px, 0px);"><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="1" style="width: 600px; margin-right: 30px;" role="group" aria-label="2 / 4">
                        </div>
                        {%- for image in collections.images | reverse -%}
                            <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="{{ loop.index0 }}" style="width: 600px; margin-right: 30px;" role="group" aria-label="{{ loop.index }} / 4">
                                <div>
                                    <img class="testimonial__items--thumbnail__img" src="{{image.data.image}}" alt="{{image.data.imageAlt}}">
                                </div>
                            </div>
                        {%- endfor -%}
                    <div class="testimonial__pagination swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 2" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span></div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
            </div>
        </section>

        <!-- Start blog section -->
        <section class="blog__section section--padding color-scheme-2 pt-0">
            <div class="container-fluid">
                <div class="section__heading text-center mb-40">
                    <h2 class="section__heading--maintitle style2"> Our latest articles </h2>
                </div>
                <div class="blog__section--inner blog__swiper--activation swiper">
                    <div class="swiper-wrapper">
                        {%- for post in collections.featured | reverse -%}
                            <div class="swiper-slide">
                                <div class="blog__items">
                                    <div class="blog__thumbnail">
                                        <a class="blog__thumbnail--link" href="{{ post.url }}"><img class="blog__thumbnail--img" src="{{post.data.image}}" alt="{{post.data.imageAlt}}"></a>
                                    </div>
                                    <div class="blog__content style2">
                                        <span class="blog__content--meta">{{post.date | postDate}}</span>
                                        <h3 class="blog__content--title style2"><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
                                        <a class="blog__content--btn style2 primary__btn" href="{{ post.url }}">اقرأ المزيد</a>
                                    </div>
                                </div>
                            </div>
                        {%- endfor -%}
                    </div>
                    <div class="swiper__nav--btn swiper-button-next"></div>
                    <div class="swiper__nav--btn swiper-button-prev"></div>
                </div>
            </div>
        </section>
        <!-- End blog section -->
</main>
